@model IEnumerable<BezvizSystem.Web.Models.Mark.ViewMarkModel>

    <td class="two_column2" valign="top">
        <table class="in_table4">
            <tr>
                <td class="coly1">
                    №
                </td>
                <td class="coly2">
                    @Html.DisplayNameFor(model => model.DateArrival)
                </td>
                <td class=" coly1">
                    @Html.DisplayNameFor(model => model.DaysOfStay)
                </td>
                <td class=" coly2">
                    @Html.DisplayNameFor(model => model.CheckPoint)
                </td>
                <td class="coly1">
                    @Html.DisplayNameFor(model => model.CountMembers)
                </td>
                <td class="coly2">
                    @Html.DisplayNameFor(model => model.Status)
                </td>
                <td class="coly2">
                    @Html.DisplayNameFor(model => model.Operator)
                </td>
                <td class="coly1">
                    @Html.DisplayNameFor(model => model.Arrived)
                </td>
            </tr>

            @foreach (var item in Model)
            {
            <tr id="tabledata">
                <td id="@item.Id" class="mainTableRow">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @(item.DateArrival.HasValue ? item.DateArrival.Value.ToShortDateString() : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysOfStay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountMembers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td name="mark">
                    @Html.DisplayFor(modelItem => item.Arrived)
                </td>
            </tr>
                    }
                
            </table>
    </td>