@model IEnumerable<BezvizSystem.Web.Models.Mark.ViewMarkModel>

@{
    ViewBag.Title = "Отметка о прибытии";
    int i = 0;

    var options = new AjaxOptions()
    {
        UpdateTargetId = "visitorTable",
        Url = Url.Action("OrdersData")
    };
}

<h2>Отметка о прибытии</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                № пп
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysOfStay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrived)
            </th>
        </tr>
    </thead>

    <tbody id="tabledata">
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink((++i).ToString(), "Edit", "Mark", new { id = item.Id, returnUrl = Url.Action() }, null)
                </td>
                <td>
                    @(item.DateArrival.HasValue ? item.DateArrival.Value.ToShortDateString() : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysOfStay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountMembers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrived)
                </td>
            </tr>
        }
    </tbody>
</table>



