@model IEnumerable<BezvizSystem.Web.Models.Mark.ViewVisitorModel>

@{
    ViewBag.Title = "Отметка о прибытии";
    ViewBag.SubTitle = "Отметка о прибытии";
}

<td class="two_column2" valign="top">
    <table class="in_table3">
        <tr>
            @{
                int i = 0;
            }
            <td class="coly1">
                №
            </td>
            <td class="coly2">
                @Html.DisplayNameFor(model => model.Surname)
            </td>
            <td class="coly2">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td class="coly2">
                @Html.DisplayNameFor(model => model.Nationality)
            </td>
            <td class="coly2">
                @Html.DisplayNameFor(model => model.SerialAndNumber)
            </td>
            <td class="coly2">
                @Html.DisplayNameFor(model => model.Arrived)
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="infoTableRow">
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialAndNumber)
                </td>
                <td>
                    @Html.CheckBox("[" + @i + "].Arrived", item.Arrived, new { dataId = item.Id, onclick = "onClickInput(event);" })
                </td>
            </tr>
        }

        @Html.ActionLink("Назад", "Index", null, new { @class = "simply_form_red", style = "padding:0;display: block;font-family:Arial;" })

    </table>

</td>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>

        function onClickInput(e) {

            var target = e.target;
            if (target.tagName == 'INPUT') {

                var id = target.getAttribute("dataId");
                var value = target.checked;

                $.ajax({
                    url: '@Url.Action("Edit")?id=' + id + "&arrived=" + value
                });
            }
        };

    </script>

}

