@model BezvizSystem.Pogranec.Web.Models.Report.ReportModel

@{ 
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    string list = serializer.Serialize(Model.AllByNatAndAge);
    //list = System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(list);
}

<tr>
    <td class="tour40">
        <h3 class="red"><b>Зарегистрированные туристы:</b></h3>
    </td>
    <td class="tour40"></td>
</tr>

<tr>
    <td>
        <p>Всего зарегистрировано: <b>@Model.AllRegistrated</b></p>
    </td>
    <td>
        <p>Индвидуальные туристы: <b>@Model.AllTourist</b> чел.</p>
    </td>
</tr>
<tr>
    <td>
        Прибыло: <b>@Model.AllArrived</b>
    </td>
    <td>
        <p>Групп: <b>@Model.AllGroup</b></p>
    </td>
</tr>
<tr>
    <td>
        <p>Ожидаются к прибытию: <b>@Model.WaitArrived</b></p>
    </td>
</tr>
<tr>
    <td>
        <p>Не прибыло: <b>@Model.NotArriverd</b></p>
    </td>
</tr>

<tr class="trSpace"></tr>

<tr>
    <td colspan="2">
        <h3 class="red"><b>Количество туристов по половозрастному признаку</b></h3>
    </td>
</tr>

<tr>
    @using (Html.BeginForm("InExcel", "Report"))
    {
    <td colspan="2" class="two_column2" valign="top">
        <table class="in_table4">
            @Html.Hidden("id", list)
            @Html.Partial("DataAllByNatAndAge", Model.AllByNatAndAge)
        </table>
    </td>
    <td>
        <input type="submit" value="Excel" />   
    </td>
    }
</tr>

<tr class="trSpace"></tr>

<tr>
    <td colspan="2" id="chart1"></td>
</tr>

<tr class="trSpace"></tr>

<tr>
    <td colspan="2" id="chart2"></td>
</tr>

<tr class="trSpace"></tr>

<tr>
    <td colspan="2" id="chart3"></td>
</tr>

<tr class="trSpace"></tr>

<tr>
    <td colspan="2">
        <h3 class="red"><b>Количество туристов, зарегистрированных туроператорами</b></h3>
    </td>
</tr>

<tr>
    <td colspan="2" class="two_column2 valign="top">
        <table class="in_table3">
            @Html.Partial("DataCountByOperator", Model.AllByOperatorCount)
        </table>
    </td>
</tr>