@using BezvizSystem.BLL.Interfaces
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Без виз</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqcss")

</head>
<body>
    <table class="header">
        <tr>
            <th valign="top">
                @*<img src="/content/img/logo_bezviz.png" alt="">*@
            </th>
        </tr>
    </table>
    <table class="first_page" cellpadding="0" cellspacing="20">
        <caption><b>Система регистрации анкет иностранных туристов</b><br>@ViewBag.SubTitle</caption>
        <tr>
            <td class="perc25" valign="top">
                <ul class="pad_null">
                    <input type="button" class="pad_cent" value="Главная" id="btn1" onclick="location.href='@Url.Action("Index", "Home")'" />
                    <input type="button" class="pad_cent" value="Регистрация туриста" onclick="location.href='@Url.Action("Create", "Visitor")'" />
                    <input type="button" class="pad_cent" value="Регистрация группы" onclick="location.href='@Url.Action("Create", "Group")'" />
                    <input type="button" class="pad_cent" value="Зарегистрированные анкеты" onclick="location.href='@Url.Action("Index", "Anketa")'" />
                    <input type="button" class="pad_cent" value="Отметка о прибытии" onclick="location.href='@Url.Action("Index", "Mark")'" />
                    <input type="button" class="pad_cent" value="Отчеты" onclick="location.href='@Url.Action("Index", "Report")'" />
                    @if (User.IsInRole("admin"))
                    {
                        <input type="button" class="pad_cent" id="btn2" value="Администрирование туроператоров" onclick="location.href='@Url.Action("Index", "Operator")'" />
                    }
                    <input type="button" class="pad_cent" value="Выход" onclick="location.href='@Url.Action("Logout", "Account")'" />
                    <img src="/content/img/sho.png" style="width: 100%">
                </ul>
            </td>
            @RenderBody()
        </tr>
    </table>

    <table class="footer" bottom:0">
        <tr>
            <th>Управление спорта и туризма Брестского облисполкома. Дизайн и разработка <a href="https://brain-it.by/ru/" target="_blank" style="color: white">BrainIT</a></th>
        </tr>
    </table>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
