<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <table class="header">
        <tr>
            <th valign="top">
                @*<img src="/content/img/logo_bezviz.png" alt="">*@
            </th>
        </tr>
    </table>
    <table class="page" cellspacing="20">
        <caption><b>Система регистрации анкет <br>иностранных туристов</b></caption>
        <tr>
            <td class="vhod">
                <input type="button" value="Вход" onclick="location.href='@Url.Action("Login", "Account")'" class="simply_form" />
            </td>
            <td class="reg" align="right">
                <input type="button" value="Регистрация туроператора" onclick="location.href='@Url.Action("Register", "Account")'" class="pad_cent" />
            </td>
        </tr>

        @RenderBody()
         </table>
        <table class="footer" bottom:0">
            <tr>
                <th>Управление спорта и туризма Брестского облисполкома. Дизайн и разработка <a href="https://brain-it.by/ru/" target="_blank" style="color: #fff">BrainIT</a></th>
            </tr>

        </table>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
