@model BezvizSystem.Web.Models.Report.ReportModel

<div>
    <p> Зарегистрированные туристы (с @Model.DateFrom по @Model.DateTo):</p>
    <p> Всего зарегистрировано: @Model.AllRegistrated</p>
    <p> Прибыло: @Model.AllArrived</p>
    <p> Ожидается к прибытию: @Model.WaitArrived</p>
    <p> Не прибыло: @Model.NotArriverd</p>
    <p> Индивидуальные туристы: @Model.AllTourist</p>
    <p> Группы: @Model.AllGroup</p>
</div>