@model BezvizSystem.Web.Models.Report.ReportModel

<tr>
    <td class="tour40">
        <h3 class="red"><b>Зарегистрированные туристы:</b></h3>
    </td>
    <td class="tour40"></td>
    <td rowspan="2"></td>
</tr>

<tr>
    <td>
        <p>Всего зарегистрировано:<b>@Model.AllRegistrated</b></p>
    </td>
    <td>
        <p>Индвидуальные туристы: <b>@Model.AllTourist</b> чел.</p>
    </td>
</tr>
<tr>
    <td>
        Прибыло: <b>@Model.AllArrived</b>
    </td>
    <td>
        <p>Групп: <b>@Model.AllGroup</b></p>
    </td>
</tr>
<tr>
    <td>
        <p>Ожидаются к прибытию: <b>@Model.WaitArrived</b></p>
    </td>
</tr>
<tr>
    <td>
        <p>Не прибыло: <b>@Model.NotArriverd</b></p>
    </td>
</tr>

<tr>

    <td>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </td>

</tr>