@model IEnumerable<BezvizSystem.Web.Models.Report.CountByOperator>

@{
    int? sum = Model.Sum(c => c.Count);
    int count = sum.HasValue ? sum.Value : 0;
}

<tr>
    <td class="orange coly2">
        @Html.DisplayNameFor(model => model.Operator)
    </td>
    <td class="orange coly1">
        @Html.DisplayNameFor(model => model.Count)
    </td>
    <td class="orange coly1">
        В % от общего числа
    </td>
</tr>

@foreach (var item in Model)
{
    <tr @*class="visitor_str"*@>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @(count != 0 ? (item.Count / count) * 100 : 0)%
        </td>
    </tr>
}

<tr>
    <td>Итого:</td>
    <td>@Model.Sum(m => m.Count)</td>
    <td></td>
</tr>
