@model BezvizSystem.Web.Models.Visitor.EditInfoVisitorModel

@Html.HiddenFor(model => model.Id)
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control bg_in" } })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control bg_in" } })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.SerialAndNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SerialAndNumber, new { htmlAttributes = new { @class = "form-control bg_in" } })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Nationality, ViewBag.Nationalities as SelectList, new { @class = "form-control sex" })
    </td>
</tr>
<tr  name="lastTr">
    <td class="left">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label left_text" })
        @Html.DropDownListFor(model => model.Gender, ViewBag.Genders as SelectList, new { @class = "form-control sex" })
    </td>
    <td class="left" align="right">
        @Html.LabelFor(model => model.BithDate, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BithDate, new { htmlAttributes = new { @class = "form-control bg_in" } })        
    </td>
</tr>

@Html.EditorFor(model => model.UserInSystem, new { htmlAttributes = new { @type = "hidden", @Value = Model.UserInSystem } })
@Html.EditorFor(model => model.DateInSystem, new { htmlAttributes = new { @type = "hidden", @Value = Model.DateInSystem.ToString() } })
@Html.EditorFor(model => model.UserEdit, new { htmlAttributes = new { @type = "hidden", @Value = User.Identity.Name } })
@Html.EditorFor(model => model.DateEdit, new { htmlAttributes = new { @type = "hidden", @Value = DateTime.Now.ToString() } })