@model BezvizSystem.Web.Models.Visitor.InfoVisitorModel

<tr>
    <td colspan="2">
        <h3 class="red">Информация о туристе</h3>
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.HiddenFor(model => model.Id, new { @Value = 0 })

        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.SerialAndNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SerialAndNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SerialAndNumber, "", new { @class = "text-danger" })
    </td>
</tr>
<tr>
    <td colspan="2">
        @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Nationality, ViewBag.Nationalities as SelectList, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
    </td>
</tr>
<tr>
    <td class="left">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Gender, ViewBag.Genders as SelectList, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </td>
    <td class="left" align="right">
        @Html.LabelFor(model => model.BithDate, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BithDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BithDate, "", new { @class = "text-danger" })
    </td>
</tr>

@Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @type = "hidden", @Value = "Сохранено" } })
@Html.EditorFor(model => model.StatusOfOperation, new { htmlAttributes = new { @type = "hidden", @Value = 1 } })
@Html.EditorFor(model => model.UserInSystem, new { htmlAttributes = new { @type = "hidden", @Value = User.Identity.Name } })
@Html.EditorFor(model => model.DateInSystem, new { htmlAttributes = new { @type = "hidden", @Value = DateTime.Now.ToString() } })