@model BezvizSystem.Pogranec.Web.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
    Layout = "~/Views/Shared/_LayoutEnter.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <tr>
        <td colspan="2">
            @Html.ValidationSummary(false, "")
        </td>
    </tr>
  
    <tr>
        <td colspan="2">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "long_but", placeholder = "Логин" } })       
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "long_but", placeholder = "Пароль" } })          
        </td>
    </tr>
    <td class="zareg" colspan="2">
        <input type="submit" value="Войти" class="simply_form_red back_yell" />
    </td>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}