@model BezvizSystem.Pogranec.Web.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
    Layout = "~/Views/Shared/_LayoutEnter.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input hidden="hidden" id="returnUrl" value="@ViewBag.returnUrl" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <tr>
            <td valign="top" colspan="2">
                <h2 class="clr_black">СИСТЕМА РЕГИСТРАЦИИ АНКЕТ</h2>
                <h2 class="clr_black">ИНОСТРАННЫХ ТУРИСТОВ</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "long_but", placeholder="Логин"} })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "long_but", placeholder="Пароль" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <td class="zareg" colspan="2">
            <input type="submit" value="Войти" class="simply_form_red back_yell" />
        </td>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}