@model BezvizSystem.Web.Models.Group.CreateGroupModel

@{
    ViewBag.Title = "Новая группа туристов";
    ViewBag.SubTitle = "Регистрация группы туристов";
}


<<<<<<< HEAD
<td class="two_column">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <table id="inputTable" class="second" cellpadding="0" cellspacing="15">

=======
    <td class="two_column">
        <table id="inputTable" class="second" cellpadding="0" cellspacing="15">
           
>>>>>>> master
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(false, "")
                </td>
            </tr>

            <tr>
                <td><h2 class="top">Общие сведения</h2></td>
            </tr>
            <tr>
                <td class="left">
                    @Html.LabelFor(model => model.DateArrival, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateArrival, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td class="left" align="right">
                    @Html.LabelFor(model => model.DateDeparture, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateDeparture, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.DaysOfStay, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DaysOfStay, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control bg_in" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.CheckPoint, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CheckPoint, ViewBag.CheckPoints as SelectList, new { @class = "form-control punkt" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.PlaceOfRecidense, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PlaceOfRecidense, new { htmlAttributes = new { @class = "form-control bg_in" } })
                    <p class="no_need">*Не обязательно к заполнению если турист не проживает в специализированных средствах размещения</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3 class="red">Информация о туристах</h3>
                </td>
            </tr>

            @Html.EditorFor(model => model.Infoes)

            <tr>
                <td class="left">
                    <input type="button" id="addVisitorBut" class="simply_form_red sfr_auto" value="Добавить туриста" />
                </td>
                <td class="left" align="right">
                    <input type="button" id="deleteVisitorBut" class="simply_form_red sfr_auto" value="Удалить туриста">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ProgramOfTravel, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProgramOfTravel, new { htmlAttributes = new { @class = "form-control bg_in_long" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.OrganizeForm, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OrganizeForm, new { htmlAttributes = new { @class = "form-control bg_in" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control bg_in" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.NumberOfContract, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NumberOfContract, new { htmlAttributes = new { @class = "form-control bg_in" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.DateOfContract, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateOfContract, new { htmlAttributes = new { @class = "form-control bg_in" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.OtherInfo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OtherInfo, new { htmlAttributes = new { @class = "form-control bg_in" } })
                </td>
            </tr>
            <input hidden="hidden" name="UserInSystem" value="@User.Identity.Name" />
            <input type="hidden" name="DateInSystem" value="@DateTime.Now" />
            <input type="hidden" name="Group" value="true" />
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" class="simply_form_red sfr_auto" />
                </td>
            </tr>
        </table>
    }
</td>


@section Scripts{
    <script src="~/Scripts/MyScripts/EditHelper.js"></script>
}
