@model BezvizSystem.Pogranec.Web.Models.Anketa.ArrivedPerson

<tr>
    <td class="no_border" colspan="2">
        <input id="filterBtn" type="button" class="simply_form_red marbot20 buttonParameters" style="width:100%" value="Фильтр" />
    </td>
</tr>

<tr>
    <td class="no_th" colspan="3" valign="top">
        <h3 class="red">Прибывающие туристы:</h3>
        <p>
            @Model.Info :

            <b>@Model.Count</b>
        </p>
    </td>

    <td class="no_th">
        <p> <input type="button" id="loadXml" class="simply_form_red darkorange" value="Получение анкет @(Model.Xmls != 0 ? "(" + Model.Xmls.ToString() + ")" : "")" /></p>
    </td>
</tr>
<tr>
    <td class="no_th" colspan="3"></td>
</tr>
<tr>
    <td class="orange">
        @Html.DisplayName("Пункт пропуска")
    </td>
    <td class="orange">
        @Html.DisplayName("Количество прибывающих")
    </td>
    <td style="border:none;"></td>
    <td class="no_th">
        <p> <input class="simply_form_red green" style="background-color: #ff2929; border: none" type="button" 
                   id="extraLoadXml"
                   value="Экстренное получение @(Model.ExtraXmls != 0 ? "(" + Model.Xmls.ToString() + ")" : "")" /> </p>
    </td>
</tr>


@foreach (var item in Model.Infoes)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
    </tr>
}

    <script>
        var xml = document.getElementById('loadXml');
        var extraXml = document.getElementById('extraLoadXml');
        xml.onclick = function () {

            $.ajax({
                url: '@Url.Action("GetXMLFileName")',
                success: function (data) {
                    xml.value = "Получение анкет";
                    if (!data.Succedeed) alert(data.Message)
                    else location.href = "@Url.Action("GetAnketas", "Anketa")?fileName=" + data.Message;
                },
                error: function () {
                    alert("Возникла ошибка при выгрузке xml.")
                }
            });
        }

        extraXml.onclick = function () {

            $.ajax({
                url: '@Url.Action("GetExtraXMLFileName")',
                success: function (data) {
                    extraXml.value = "Экстренное получение";
                    if (!data.Succedeed) alert(data.Message)
                    else location.href = "@Url.Action("GetAnketas", "Anketa")?fileName=" + data.Message;
                },
                error: function () {
                    alert("Возникла ошибка при выгрузке xml.")
                }
            });
        }
    </script>

