@model BezvizSystem.Pogranec.Web.Models.Anketa.ArrivedPerson

@{
    ViewBag.Title = "Анкета";
}

Ожидается к прибытию на @DateTime.Now.ToShortDateString(): <b>@Model.Count</b>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Пункт пропуска")
            </th>
            <th>
                @Html.DisplayName("Количество прибывающих")
            </th>
        </tr>
    </thead>

    <tbody id="tabledata">
        @foreach (var item in Model.Infoes)
            {
            <tr>            
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPoint)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>  
            </tr>
        }
    </tbody>
</table>




