@model BezvizSystem.Pogranec.Web.Models.Anketa.ArrivedPerson

@{
    ViewBag.Title = "Анкета";
}


<div style="float:left; margin: 10px">

    Ожидается к прибытию на @DateTime.Now.ToShortDateString(): <b>@Model.Count</b>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Пункт пропуска")
                </th>
                <th>
                    @Html.DisplayName("Количество прибывающих")
                </th>
            </tr>
        </thead>

        <tbody id="tabledata">
            @foreach (var item in Model.Infoes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div style="float:left; border: 1px solid black">

    <p> <input type="button" onclick="location.href='@Url.Action("GetAnketas")'" value="Получение анкет" /></p>
    <p> <input type="button" onclick="location.href='@Url.Action("GetExtraAnketas")'" value="Экстренное получение анкет" /> </p>
    <p> <input type="button" onclick="location.href='@Url.Action("ReviceControl")'" value="Сверка контрольной суммы" /> </p>
 
</div>

