@*@model BezvizSystem.Pogranec.Web.Models.Anketa.ArrivedPerson*@

@{
    ViewBag.Title = "Анкета";

    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "data",
        Url = Url.Action("DataAnketa")
    };
}

@using (Ajax.BeginForm(opt))
{
    <table id="panelReport" style="display:none" class="in_table7">

        <tr>
            <td class="left no_border">
                <label for="dateFrom">Дата прибытия с</label>
                <input type="text" id="dateFrom" name="dateFrom" class="datepicker form-control" @*value="@(((DateTime?)ViewBag.dateFrom).ToString(" dd.MM.yyyy"))"*@ />
            </td>
            <td class="left no_border" align="right">
                <label for="dateTo">по</label>
                <input type="text" id="dateTo" name="dateTo" class="datepicker form-control" @*value="@(((DateTime?)ViewBag.dateTo).ToString(" dd.MM.yyyy"))"*@ />
            </td>
        </tr>
        <tr>
            <td class="no_border">
                <label>Пункт пропуска</label>
                @Html.DropDownList("CheckPoint", ViewBag.CheckPoints as SelectList, new { @class = "form-control punkt"})
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" class="simply_form_red marbot20" style="height:auto; width:95px" value="Найти" />
            </td>
        </tr>
    </table>


    <table class="in_table2" id="data">      
        @Html.Action("DataAnketa", new { id = Model })
    </table>

}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/bundles/jquery-ui")
<script src="~/Scripts/MyScripts/pikaday.js"></script>
<script src="~/Scripts/MyScripts/combobox.js"></script>
