@model BezvizSystem.Pogranec.Web.Models.Anketa.ArrivedPerson

@{
    ViewBag.Title = "Анкета";
}

<table class="in_table2">
    <tr>
        <td class="no_th" colspan="3" valign="top"><h3 class="red">Прибывающие туристы:</h3>
        <p>Ожидается к прибытию на @DateTime.Now.ToShortDateString(): <b>@Model.Count</b></p></td>
    
        <td class="no_th">
            <p> <input type="button" class="simply_form_red darkorange" onclick="location.href='@Url.Action("GetAnketasDefault")'" value="Получение анкет" /></p>
        </td>
    </tr>
    <tr>
        <td class="no_th" colspan="3">
            
        </td>
    </tr>
    <tr>
        <td class="orange">
            @Html.DisplayName("Пункт пропуска")
        </td>
        <td class="orange">
            @Html.DisplayName("Количество прибывающих")
        </td>
        <td style="border:none;">
        </td>
        <td class="no_th">
            <p> <input class="simply_form_red green" type="button" onclick="location.href='@Url.Action("GetAnketasExtra")'" value="Экстренное получение" /> </p>
        </td>
    </tr>
    <tr id="tabledata">
    @foreach (var item in Model.Infoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tr>
</table>