@model BezvizSystem.Pogranec.Web.Models.Admin.CreateUser

@{
    ViewBag.Title = "Новый пользователь";
    ViewBag.SubTitle = "Новый пользователь";
}

<td class="two_column" style="vertical-align: top">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="second" cellpadding="0" cellspacing="15">
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(false, "")
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ConfirmePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ConfirmePassword, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Transcript, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Transcript, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Ip, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Ip, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
       
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" class="simply_form_red" />
                </td>
            </tr>

        </table>
    }
</td>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
