
@using BezvizSystem.Pogranec.Web.Views.Helpers.Pagging
@using BezvizSystem.Pogranec.Web.Models.Admin

@model IndexViewModel<DisplayUser>

@{
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "tabledata"
    };
}

@foreach (var item in Model.Models)
{
    <tr class="visitor_str" id="@item.Id" onclick="onRowClickHandler(event);">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileUserTranscript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileUserIp)
        </td>
    </tr>
}

<tr>
    <td style="border:none" colspan="3">
        @*@Ajax.PageLinks(Model.PageInfo, x => Url.Action("DataUsers", new { id = ViewBag.Id, page = x }), opt)*@
        <div id="compact-pagination" class="pagination"></div>
    </td>
</tr>

<script>
     //paging options
     $(function() {
         $('#compact-pagination').pagination({
             items: @Model.PageInfo.TotalItems,
             itemsOnPage: @Model.PageInfo.PageSize,       
             currentPage: @Model.PageInfo.PageNumber,
             cssStyle: 'compact-theme',
             hrefTextPrefix: '@Url.Action("DataUsers")?id=@ViewBag.id&page=',
             prevText: 'Пред.',
             nextText: 'След.'
         });
     });
</script>
