
@using BezvizSystem.Pogranec.Web.Views.Helpers.Pagging
@using BezvizSystem.Pogranec.Web.Models.Admin

@model IndexViewModel<DisplayUser>


@foreach (var item in Model.Models)
{
    <tr class="visitor_str" id="@item.Id" onclick="onRowClickHandler(event);">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transcript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip)
        </td>
    </tr>
}

<tr>
    <td style="border:none" colspan="3"> 
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { id = ViewBag.Id, page = x }))
    </td>
</tr>
