@model BezvizSystem.Pogranec.Web.Models.Admin.EditUser

@{
    ViewBag.Title = "Пользователь";
}

<td class="two_column" style="vertical-align: top">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="second" cellpadding="0" cellspacing="15">

            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(false, "")
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.LabelFor(model => model.ProfileUserTranscript, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ProfileUserTranscript, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ConfirmePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ConfirmePassword, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ProfileUserIp, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ProfileUserIp, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ProfileUserRole, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.ProfileUserRole, (IEnumerable<SelectListItem>)ViewBag.Levels, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr class="mtauto">
                <td colspan="2">
                    @Html.EditorFor(model => model.ProfileUserActive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.ProfileUserActive, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
            </tr>

            <tr id="activeDate">
                <td colspan="2">
                    @Html.LabelFor(model => model.ProfileUserNotActiveToDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProfileUserNotActiveToDate, "Date", new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" class="simply_form_red" />
                    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "simply_form_red sfr_auto", style = "background-color:red; width:100%; padding:0;display: block; border: 1px solid red; font-family:Arial;" })
                </td>
            </tr>
        </table>
    }
</td>

@section scripts{
    <script src="~/Scripts/MyScripts/helper.js"></script>
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/MyScripts/pikaday.js"></script>
}
