@{
    ViewBag.Title = "Пользователи";
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("DataUsers")
    };
}

<td class="two_column2" valign="top">
    @using (Ajax.BeginForm(opt))
    {
        <table class="in_table3">

            <tr class="no_border">
                <td class="no_border">
                    <input type="text" class="form-control" style="width:65%; height:45px" name="id" value="@ViewBag.Id" />
                    <input type="submit" class="simply_form_red marbot20 buttonParameters" style="width:32%" value="Найти" />
                </td>
                <td class="no_border">@Html.ActionLink("Добавить", "Create", null, new { @class = "simply_form_red marbot20 linkParameters", style = "width:100%" })</td>
                <td class="no_border"></td>
            </tr>
            <tr>
                <td class="orange" style="width:40%">
                    @Html.DisplayName("Логин")
                </td>
                <td class="orange" style="width:30%">
                    @Html.DisplayName("ФИО сотрудника")
                </td>
                <td class="orange" style="width:30%">
                    @Html.DisplayName("Ip-адрес")
                </td>
            </tr>
            <tbody id="tabledata">
                @Html.Action("DataUsers", new { id = Model })
            </tbody>

        </table>
    }
</td>

@section scripts
{   

    <script>
        var table = document.getElementsByTagName('table')[0];

        function onRowClickHandler(event) {
            var target = event.target;

            while (target != table) {
                if (target.tagName == "TR") {
                var id = target.getAttribute('id');

                location.href = '@Url.Action("Edit", "Admin")/' + id;
                return;
                }
                target = target.parentNode;
            }
        }

    </script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
