@model BezvizSystem.Web.Models.Operator.CreateOperatorModel

@{
    ViewBag.Title = "Новый туроператор";
    ViewBag.SubTitle = "Новый туроператор";
}

<td class="two_column" style="vertical-align: top">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <table class="second" cellpadding="0" cellspacing="15">
        <tr>
            <td colspan="2">
                @Html.ValidationSummary(false, "")
            </td>
        </tr>

        <tr>
            <td colspan="2">
                @Html.LabelFor(model => model.Transcript, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Transcript, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                @Html.LabelFor(model => model.UNP, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UNP, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                @Html.LabelFor(model => model.OKPO, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.OKPO, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Сохранить" class="simply_form_red" />
            </td>
        </tr>

    </table>
    }
</td>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
