@model BezvizSystem.Web.Models.Operator.DeleteOperatorModel

@{
    ViewBag.Title = "Удаление туроператора";
}

<td class="two_column2" valign="top">
    <table class="in_table3">
        <tr>
            <td class="orange coly1" colspan="4" style="background-color:rgba(255,0,0,0.7); color:white;">
                Вы действительно хотите удалить туроператора?
            </td>
        </tr>
        <tr>
            <td class="orange coly2" colspan="2">
                @Html.DisplayNameFor(model => model.ProfileUserTranscript)
            </td>
            <td class="orange coly1" colspan="2">
                @Html.DisplayNameFor(model => model.ProfileUserUNP)
            </td>
        </tr>
        <tr class="vmainTableRow">
            <td colspan="2">
                @Html.DisplayFor(model => model.ProfileUserTranscript)
            </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.ProfileUserUNP)
            </td>       
        </tr>
        <tr class="vmainTableRow">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td colspan="2" style="border:none;">
                    <input type="submit" value="Удалить" class="simply_form_red sfr_auto" style="background-color:red; border: 1px solid red;" />
                </td>
                <td colspan="2" style="border:none;">
                    @Html.ActionLink("Назад", "Index", null, new { @class = "simply_form_red sfr_auto", style = "padding:0;display: block; margin: 0 auto; font-family:Arial;" })
                </td>
            }
        </tr>
    </table>
</td>

