@model BezvizSystem.Web.Models.Operator.EditOperatorModel

@{
    ViewBag.Title = "Туроператор";
}

<td class="two_column" style="vertical-align: top">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="second" cellpadding="0" cellspacing="15">

            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(false, "")
                </td>
            </tr>

            @*<input hidden="hidden" name="UserName" value="@Model.UserName" />
                <input hidden="hidden" name="ProfileUserRole" value="@Model.ProfileUserRole" />
                <input hidden="hidden" name="ProfileUserUserInSystem" value="@Model.ProfileUserUserInSystem" />
                <input hidden="hidden" name="ProfileUserDateInSystem" value="@Model.ProfileUserDateInSystem" />
                <input hidden="hidden" name="ProfileUserUserEdit" value="@User.Identity.Name" />
                <input hidden="hidden" name="ProfileUserDateEdit" value="@DateTime.Now" />*@

            <tr>
                <td colspan="2">
                    @Html.HiddenFor(model => model.Id)
                    @Html.LabelFor(model => model.ProfileUserTranscript, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ProfileUserTranscript, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ProfileUserUNP, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ProfileUserUNP, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ProfileUserOKPO, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ProfileUserOKPO, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr @*class="mtauto"*@>
                <td @*class="stright"*@ colspan="2">
                    @*<div class="checkbox">*@
                    @*@Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @class = "control-label" })*@
                    @*@Html.EditorFor(model => model.EmailConfirmed)*@
                    <div class="boxes">
                        <input type="checkbox" name="EmailConfirmed" id="box-1">
                        @*@Html.EditorFor(model => model.EmailConfirmed, new { htmlAttributes = new { id = "box-1" } })*@
                        @*@Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @for = "box-1" })*@
                        <label for="box-1">1111</label>

                        @*<input type="checkbox" id="box-2" checked>
                            <label for="box-2">Gentrify pickled kale chips </label>

                            <input type="checkbox" id="box-3">
                            <label for="box-3">Gastropub butcher</label>*@
                    </div>
                    @*</div>*@
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.ConfirmePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ConfirmePassword, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr class="mtauto">
                <td class="stright" colspan="2">
                    <div class="checkbox">
                        @Html.LabelFor(model => model.ProfileUserActive, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ProfileUserActive, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" class="simply_form_red" />
                    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "simply_form_red sfr_auto", style = "background-color:red; width:100%; padding:0;display: block; border: 1px solid red; font-family:Arial;" })
                </td>
            </tr>
        </table>
    }
</td>
