@{
    ViewBag.Title = "Туроператоры";
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("DataOperators")
    };
}

<h2>Туроператоры</h2>

<p>@Html.ActionLink("Добавить", "Create")</p>

@using (Ajax.BeginForm(opt)) {

    <div>
        <label>Наименование</label>
        <input type="text" name="id"/>
    </div>
    <input type="submit" value="Найти" />

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayName("Наименование туроператара")
            </th>
            <th>
                @Html.DisplayName("УНП")
            </th>
            <th>
                @Html.DisplayName("ОКПО")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="tabledata">
        @Html.Action("DataOperators", new { id = Model })
    </tbody>

</table>

}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
