@model IEnumerable<BezvizSystem.Web.Models.Anketa.ViewAnketaModel>
<tr>
    @{
        int i = 0;
    }
    <td class="orange coly1">
        №
    </td>
    <td class="orange coly2">
        @Html.DisplayNameFor(model => model.DateArrival)
    </td>
    <td class="orange coly1">
        @Html.DisplayNameFor(model => model.DaysOfStay)
    </td>
    <td class="orange coly2">
        @Html.DisplayNameFor(model => model.CheckPoint)
    </td>
    <td class="orange coly1">
        @Html.DisplayNameFor(model => model.CountMembers)
    </td>
    <td class="orange coly2">
        @Html.DisplayNameFor(model => model.Status)
    </td>
    <td class="orange coly3">
        @Html.DisplayNameFor(model => model.Operator)
    </td>
</tr>

    @foreach (var item in Model)
    {
    <tr class="visitor_str mainTableRow" id="@item.Id" onclick="onRowClickHandler(event);">
        <td>
            @(++i)
        </td>
        <td>
            @(item.DateArrival.HasValue ? item.DateArrival.Value.ToShortDateString() : "")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysOfStay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
    </tr>
    }