@model IEnumerable<BezvizSystem.Web.Models.Anketa.ViewAnketaModel>

<table id="mainTable" class="table">
    <thead>
        <tr>
            @{ 
                int i = 0;
            }
            <th>
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysOfStay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
        </tr>
    </thead>

    <tbody id="tabledata">
        @foreach (var item in Model)
        {
            <tr id="@item.Id" class="mainTableRow">
                <td>
                    @(++i)
                </td>
                <td>
                    @(item.DateArrival.HasValue ? item.DateArrival.Value.ToShortDateString() : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysOfStay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountMembers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
            </tr>
        }
    </tbody>
</table>
