@using BezvizSystem.Web.Views.Helpers.Pagging
@using BezvizSystem.Web.Models.Anketa

@model IndexViewModel<ViewAnketaModel>

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var search = serializer.Serialize(ViewBag.SearchModel);
}

<tr class="no_border">
    <td class="no_border" colspan="2"><input id="filterBtn" type="button" class="simply_form_red marbot20 buttonParameters" style="width:100%" value="Фильтр" /></td>
    <td class="no_border"></td>
    <td class="no_border"></td>
    <td class="no_border"></td>
    <td class="no_border"></td>
    <td class="no_border">@Html.ActionLink("Экспортировать", "InExcel", new { search = search}, new { @class = "simply_form_red marbot20 linkParameters" })</td>
</tr>

<tr>
    @{
        int i = 0;
    }
    <td class="orange coly1">
        №
    </td>
    <td class="orange coly2">
        @Html.DisplayName("Дата прибытия")
    </td>
    <td class="orange coly1">
        @Html.DisplayName("Количество дней пребывания")
    </td>
    <td class="orange coly2">
        @Html.DisplayName("Пункт пропуска для въезда")
    </td>
    <td class="orange coly1">
        @Html.DisplayName("Количество участников")
    </td>
    <td class="orange coly2">
        @Html.DisplayName("Статус")
    </td>
    <td class="orange coly3">
        @Html.DisplayName("Туроператор")
    </td>
</tr>

@foreach (var item in Model.Models)
{
    <tr class="visitor_str mainTableRow" id="@item.Id" onclick="onRowClickHandler(event);">
        <td>
            @(++i)
            @{var status = item.Status == "Сохранено" ? 1 : 2;}
        </td>
        <td>
            @(item.DateArrival.HasValue ? item.DateArrival.Value.ToString("dd.MM.yyyy") : "")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysOfStay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountMembers)
        </td>
        <td style="color:@(status == 1 ? "red" : "green")">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
    </tr>
}

<tr>
    <td style="border:none; text-align: right" colspan="7">
        <div style="display: inline-block" id="compact-pagination" class="pagination"></div>
    </td>
</tr>

<script src="~/Scripts/MyScripts/ShowPanels.js"></script>
<script>
    showPanel('filterBtn', 'panel');

    //paging options
     $(function() {
         $('#compact-pagination').pagination({
            items: @Model.PageInfo.TotalItems,
             itemsOnPage: @Model.PageInfo.PageSize,
             currentPage: @Model.PageInfo.PageNumber,
             cssStyle: 'compact-theme',
             hrefTextPrefix: '@Url.Action("GroupData")?search=@search&page=',
             prevText: 'Пред.',
             nextText: 'След.'
         });
     });
</script>