@using BezvizSystem.BLL.Interfaces
@using BezvizSystem.DAL.Helpers
@using BezvizSystem.Pogranec.Web.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Без виз</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqcss")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/css/simplePagination.css" rel="stylesheet" />
    <script src="~/Scripts/MyScripts/jquery.simplePagination.js"></script>
</head>
<body>
    <table class="header"></table>
    <table class="first_page" cellpadding="0" cellspacing="20">
        <tr>
            <td class="perc25" valign="top">
                <ul class="pad_null">
                    <input class="simply_form" type="button" value="Главная" onclick="location.href='@Url.Action("Index", "Home")'" />
                    <input class="simply_form" type="button" value="Анкеты" onclick="location.href='@Url.Action("Index", "Anketa")'" />
                    <input class="simply_form" type="button" value="Отчеты" onclick="location.href='@Url.Action("Index", "Report")'" />

                    @if (User.IsRole(UserLevel.GPKAdmin, UserLevel.GPKSuperAdmin))
                    {
                        <input class="simply_form" type="button" value="История активности" onclick="location.href='@Url.Action("Index", "Log")'" />
                    }

                    @if (User.IsRole(UserLevel.GPKAdmin, UserLevel.GPKSuperAdmin, UserLevel.GPKMiddle))
                    {
                        <input class="simply_form" type="button" value="Администрирование пользователей" onclick="location.href='@Url.Action("Index", "Admin", new {id = UrlParameter.Optional})'" />
                    }
                    <input class="simply_form" type="button" value="Выход" onclick="location.href='@Url.Action("Logout", "Home")'"/>

                    <img src="/Content/img/sho.png" style="width: 100%">

                </ul>
            </td>
            <td class="two_column2" valign="top">
                @RenderBody()
            </td>
        </tr>
    </table>

    <table class="footer" style="position:fixed ;bottom:0">
        <tr>
            <th>Управление спорта и туризма Брестского облисполкома. Дизайн и разработка <a href="https://brain-it.by/ru/" target="_blank" style="color: white">BrainIT</a></th>
        </tr>
    </table>

    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)

    @*<script>

        var preventUnloadPrompt;
        var messageBeforeUnload = "my message here - Are you sure you want to leave this page?";
        //var redirectAfterPrompt = "http://www.google.co.in";
        $(document).on('click', 'a', function () { preventUnloadPrompt = true; });
        $(document).on('click', 'input', function () { preventUnloadPrompt = true; });
        $(document).on('submit', 'form', function () { preventUnloadPrompt = true; });
        $(document).on('click', 'tr', function () { preventUnloadPrompt = true; });
        $(window).bind("beforeunload", function (e) {
            var rval;
            if (preventUnloadPrompt) {
                return;
            }
            else
            {
                $.ajax(
                {
                    url: '@Url.Action("Logout", "Home")',
                });
            }
            return rval;
        })

    </script>*@

</body>
</html>
