
@using BezvizSystem.Web.Helpers
@using BezvizSystem.BLL.Interfaces

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Без виз</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    

    <div style="float:left; width: 200px; border: 1px solid black">
        <input type="button" value="Главная" onclick="'@Url.Action("Index", "Home")'" />
        <input type="button" value="Анкеты" onclick="location.href='@Url.Action("Create", "Visitor")'" />
        <input type="button" value="Отчеты" onclick="location.href='@Url.Action("Create", "Group")'" />

        @if (User.IsInRole("pogranecAdmin"))
        {
            <input type="button" value="История активности" onclick="location.href='@Url.Action("Index", "Anketa")'" />
            <input type="button" value="Администрирование пользователей" onclick="" />
        }

        <input type="button" value="Выход" onclick="location.href='@Url.Action("Logout", "Account")'" />
    </div>

    <div style="margin-left:210px;  border: 1px solid black">
        <div class="container body-content">
            @RenderBody()
            @*<hr />
            <footer>
                    <p>&copy; @DateTime.Now.Year - Без виз</p>
                </footer>*@
        </div>
    </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        function clickButton(id) {
            $('#btn2').live('click', function () {
                $.get('@Url.Action("Index", "Operator")')
            });
        }     

    </script>
</body>
</html>
