<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/css/style.css">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <table class="header">
        <tr>
            <th valign="top">
                @*<img src="/content/img/logo_bezviz.png" alt="">*@
            </th>
        </tr>
    </table>
    <table class="page" cellspacing="20">
   
        @RenderBody()

        <table class="footer" style="position:absolute; bottom:0">
            <tr>
                <th>Управление спорта и туризма Брестского облисполкома. Дизайн и разработка <a href="https://brain-it.by/ru/" style="color: white">BrainIT</a></th>
            </tr>
        </table>
    </table>
    <table class="low"></table>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>