
@using BezvizSystem.Pogranec.Web.Views.Helpers.Pagging
@using BezvizSystem.Pogranec.Web.Models.Log

@model IndexViewModel<LogModel>

@{
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "tabledata"
    };
}

@foreach (var item in Model.Models)
{
    <tr class="visitor_str">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActivity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextActivity)
        </td>
    </tr>
}

<tr>
    <td style="border:none; text-align: right" colspan="5">
        @*@Ajax.PageLinks(Model.PageInfo, x => Url.Action("DataLogs", new { id = ViewBag.Id, page = x }), opt)*@
        <div style="display: inline-block" id="compact-pagination" class="pagination"></div>
    </td>
</tr>

<script>
     //paging options
     $(function() {
         $('#compact-pagination').pagination({
             @*pages: @Model.PageInfo.TotalPages,*@
             items: @Model.PageInfo.TotalItems,
             itemsOnPage: @Model.PageInfo.PageSize,
             currentPage: @Model.PageInfo.PageNumber,
             displayedPages: 4,
             cssStyle: 'compact-theme',
             hrefTextPrefix: '@Url.Action("DataLogs")?id=@ViewBag.id&page=',
             prevText: 'Пред.',
             nextText: 'След.'
         });
     });
</script>
